<%= form_for(image) do |f| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file_name %>
    <%= f.text_field :file_name %>
  </div>

  <div class="field">
    <%= f.label :file_name_orig_path %>
    <%= f.text_field :file_name_orig_path %>
  </div>

  <div class="field">
    <%= f.label :file_name_small_path %>
    <%= f.text_field :file_name_small_path %>
  </div>

  <div class="field">
    <%= f.label :dimmensions %>
    <%= f.text_field :dimmensions %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
